/* START COMMON CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.fix {
    overflow: hidden;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.col-11 {
    width: 91.66%;
    float: left;
    padding: 0 15px;
}

.col-10 {
    width: 83.34%;
    float: left;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    float: left;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    float: left;
    padding: 0 15px;
}

.col-7 {
    width: 58.33%;
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    float: left;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    float: left;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    float: left;
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
    float: left;
    padding: 0 15px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 60px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-70 {
    margin-top: 70px;
}


.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.black-bg {
    background: #222;
}

.gray-bg {
    background: #f2f2f2;
}

.text-center {
    text-align: center;
}

.color-white {
    color: #fff;
}

.float-right {
    float: right;
}

/* END COMMON CSS */

.btn-primary {
    color: #2ecc71;
    border: 2px solid #2ecc71;
    font-size: 18px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.bg-background {
    background: #f2f2f1;
}

.single-slide {
    text-align: center;
}

.single-slide h1 {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    margin-top: 500px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
}

.single-slide .btn a {
    padding: 20px 35px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 300px;
    text-transform: uppercase;
}

.logo-menu-area {
    background: #252e30;
}

.logo {
    margin-top: 15px;
}

.main-menu {
    float: right;
}

.main-menu ul {}

.main-menu ul li {
    float: left;
    margin-left: 40px;
}

.main-menu ul li a {
    color: #fff;
    font-size: 16px;
    padding: 30px 0;
    display: block;
    text-transform: uppercase;
}

.main-menu ul li a:hover {
    color: #2ecc71;
}

.behevior h1 {
    color: #566366;
    font-size: 30px;
    text-transform: uppercase;
}

.behevior p {
    font-size: 18px;
    color: #919191;
    padding-top: 50px;
    line-height: 28px;
}

.about-me-area {
    background: #f2f2f1;
    position: relative;
}

.profile-photo {
    position: absolute;
}

.profile-photo {
    height: 100%;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.about-me {
    float: right;
    margin-top: 100px;
    padding-left: 150px;
}

.about-me>h4 {
    margin-bottom: 50px;
    font-size: 30px;
    color: #566366;
    text-transform: uppercase;
}

.about-me>p {
    color: #919191;
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 72px;
}


.skills {
    display: flex;
    width: 50%;
    float: left;
    margin-bottom: 55px;
}

.skill-icon {
    margin-right: 23px;
    width: 45px;
    height: 45px;
}

.skill-icon img {
    width: 100%;
}

.skill-text h3 {
    color: #566366;
    font-size: 22px;
    text-transform: uppercase;
}

.skill-text p {
    color: #919191;
    font-size: 18px;
    line-height: 20px;
    margin-top: 23px;
}

.my-skills h4 {
    display: inline-block;
    color: #566366;
    font-size: 30px;
    text-transform: uppercase;

}

.my-skills p {
    font-size: 18px;
    color: #919191;
    padding: 50px 0;
    line-height: 25px;
    padding-right: 20px;
}

.my-skills a {
    color: #2ecc71;
    border: 2px solid #2ecc71;
    font-size: 18px;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.resume-text h4 {
    color: #566366;
    font-size: 30px;
    text-transform: uppercase;
}

.resume-text p {
    color: #919191;
    font-size: 18px;
    padding: 50px 50px;
    line-height: 25px;
}

.right-content {
    margin-top: 85px;
}

.right-content h4 {
    color: #566366;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.right-content p {
    color: #919191;
    font-size: 18px;
    line-height: 25px;
}

.right-content hr {
    /* background: red; */
    border-color: #ccc;
    border-width: 1px;
    margin: 25px 0;
}

.right-content span {
    background: #2ecc71;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    display: inline-block;
    margin-top: 25px;
}

.divider {
    height: 1px;
    background: #ccc;
    margin-top: 100px;
}


.single-testimonial p {
    font-size: 24px;
    color: #919191;
    font-style: italic;
    padding: 0 150px;
}

.single-testimonial h6 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin-top: 45px;
    color: #566366;
    margin-bottom: 80px;
}

.section-headeing h4 {
    color: #566366;
    font-size: 30px;
    text-transform: uppercase;
}

.section-headeing p {
    padding: 50px 50px;
    color: #919191;
    font-size: 18px;
}

.single-image {
    position: relative;
    transition: 0.3s;
    margin-bottom: 30px;
}

.image img {
    width: 100%;
}

.single-image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2ecc71;
    opacity: 0;


}

.single-image:hover::before {
    opacity: 0.5;
}

.icon i {
    font-size: 40px;
    color: #fff;
}

.icon {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    visibility: hidden;
    transform: translateY(-50%);
}

.single-image:hover .icon {
    visibility: visible;
}

.contact-area {
    background: #252e30;
}

.contact-wrappers {}

.contact-wrapper h4 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.contact-wrapper p {
    color: #919191;
    font-size: 18px;
    padding-top: 50px;
}

.contact-wrapper span {
    color: #fff;
}

.contact-form {
    color: #fff;
    font-size: 18px;
    margin-top: 35px;
}

.contact-form label {
    display: block;
    margin-bottom: 20px;
}

.contact-form input {
    margin-bottom: 40px;
    display: block;
    width: 100%;
    padding: 20px;
    background: #4b5456;
    outline: none;
    border: 0;
    color: #fff;
}

.contact-form input.message {
    height: 200px;
}

.contact-btn {
    background: #191f21;
    text-transform: uppercase;
    padding: 15px 30px;
    color: #fff;
    outline: none;
    border: 0;
}

.footer-area {
    background: #191f21;
}

.footer-content {
    color: #4b5456;
    font-size: 14px;
}

.footer-content p {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.footer-social i {
    background: #4b5456;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #191f21;
}

.footer-social i:hover {
    color: #fff;
}
/* SWIPPER LIBRARY CSS */
.swiper-pagination-bullet {
    border: 1px solid #2ecc71;
    background-color: #191f21;
}

.swiper-pagination-bullet-active {
    background: #2ecc71;
    border-color: #2ecc71;
}

/* SKILLBARS JS */
.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    width: 100%;
  }
  
  .skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
  }
  
  .skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    display: inline-block;
  }
  
  .skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
  }

  .single-skill p {
    color: #566366;
    text-transform: uppercase;
    font-weight: 700;
}
  